DATABASE_URL="postgresql://postgres:postgres@localhost:5432/findback_ph"
AUTH_SECRET="generate-a-long-random-secret-at-least-32-characters"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
MAPBOX_TOKEN=
RESEND_API_KEY=
